<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AthmaTestSuite">

<listeners>
<listener class-name="com.qa.athma.ExtentReportListner.ExtentReporterNG" />
</listeners>



  <test thread-count="5" name="AthmaTest">
    <classes>
      <class name="com.athma.qa.testcases.NewRegistrationTest"/>
    </classes>
  </test> <!-- AthmaTest -->
</suite> <!-- AthmaTestSuite -->
